In [49]:
import numpy as np
import pandas as pd 
from datascience import *

%matplotlib inline
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')


housing = pd.read_csv('SD1970_housing.csv', thousands = ',')
population = pd.read_csv('SD1970_population.csv',thousands = ',')

population

,Census Tract Name,Block Group,Place Name,Total persons,Male persons age under 5 years,Male persons age 5 years,Male persons age 6 years,Male persons age 7-9 years,Male persons age 10-13 years,Male persons age 14 years,...,"Husband-wife family members 65 and over, none under 18",Husband-wife family members under 18 and 65 and over,Other family with male head no members under 18 or 65 and over,"Other family with male head members under 18, none 65 and over","Other family with male head members 65 and over, none under 18",Other family with male head members under 18 and 65 and over,Family with female head no members under 18 or 65 and over,"Family with female head members under 18, none 65 and over","Family with female head members 65 and over, none under 18",Family with female head members under 18 and 65 and over
0,Census Tract 1,1,San Diego,901,31,6,9,29,32,9,...,2,3,2,0,3,0,6,15,5,1
1,Census Tract 1,2,San Diego,683,28,2,9,14,21,6,...,3,5,0,1,1,1,6,17,6,0
2,Census Tract 1,3,San Diego,532,18,4,4,15,26,6,...,2,2,1,1,0,1,5,5,2,0
3,Census Tract 1,4,San Diego,421,9,3,5,5,7,3,...,0,1,0,1,0,0,5,4,2,0
4,Census Tract 1,5,San Diego,489,12,2,4,6,13,4,...,4,1,1,1,0,0,6,6,3,0
5,Census Tract 1,6,San Diego,498,19,2,3,11,11,7,...,5,4,0,0,0,0,4,5,3,1
6,Census Tract 1,9,San Diego,6,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,Census Tract 2,1,San Diego,1082,32,10,5,21,34,8,...,0,0,2,1,1,0,14,18,8,0
8,Census Tract 2,2,San Diego,2151,83,18,14,42,52,11,...,5,3,5,7,3,1,21,45,7,3
9,Census Tract 2,3,San Diego,1348,39,2,8,23,37,7,...,1,2,2,3,0,0,13,25,5,0
10,Census Tract 2,4,San Diego,960,31,6,2,12,18,1,...,1,1,4,4,0,0,11,24,6,1
11,Census Tract 2,5,San Diego,434,13,3,0,5,9,1,...,2,0,3,3,2,0,9,5,10,0
12,Census Tract 2,8,San Diego,2,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13,Census Tract 2,9,San Diego,5,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
14,Census Tract 3,1,San Diego,885,13,1,5,9,8,5,...,0,0,2,2,1,0,17,16,4,0
15,Census Tract 3,2,San Diego,362,1,0,0,1,3,0,...,0,0,2,1,0,0,1,5,3,0
16,Census Tract 3,3,San Diego,826,11,1,3,4,8,0,...,1,3,5,1,2,0,6,10,7,0
17,Census Tract 3,4,San Diego,1618,38,6,5,18,14,11,...,2,0,4,2,5,0,16,43,15,2
18,Census Tract 4,1,San Diego,2145,50,8,6,18,15,3,...,4,2,11,4,1,0,21,25,13,0
19,Census Tract 4,2,San Diego,826,5,1,2,2,10,2,...,1,1,1,1,3,0,8,14,5,0
20,Census Tract 4,4,San Diego,1,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21,Census Tract 4,5,San Diego,1,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22,Census Tract 5,1,San Diego,852,17,3,7,11,20,3,...,6,3,2,0,2,0,6,12,6,0
23,Census Tract 5,2,San Diego,1143,43,4,5,19,19,8,...,3,1,3,4,6,0,12,27,5,0
24,Census Tract 5,3,San Diego,695,19,6,0,5,12,5,...,1,2,3,3,4,0,6,18,2,0
25,Census Tract 6,1,San Diego,852,27,4,3,17,18,1,...,1,0,1,2,1,0,3,42,5,1
26,Census Tract 6,2,San Diego,758,17,4,2,9,12,1,...,4,0,1,3,1,0,9,14,4,0
27,Census Tract 6,3,San Diego,756,23,4,3,12,11,3,...,2,2,5,2,3,0,9,17,6,1
28,Census Tract 6,6,San Diego,5,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29,Census Tract 7,1,San Diego,1052,23,2,2,10,5,2,...,4,0,2,3,6,0,7,16,4,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1234,Census Tract 194,9,Vista,698,31,10,11,24,30,20,...,3,4,0,0,1,0,2,11,0,0
1235,Census Tract 195,1,Vista,1773,114,22,18,36,49,12,...,6,3,3,7,6,0,9,52,6,1
1236,Census Tract 195,2,Vista,90,5,0,1,2,2,0,...,0,0,1,0,0,0,1,0,1,0
1237,Census Tract 195,3,Vista,750,21,9,1,20,18,3,...,4,1,2,2,0,1,6,13,2,0
1238,Census Tract 195,4,Vista,2175,128,13,20,60,59,14,...,7,2,2,4,2,0,8,43,6,0
1239,Census Tract 195,5,Vista,1,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1240,Census Tract 196,1,Vista,1332,21,4,7,17,31,10,...,5,3,1,1,2,0,8,7,9,0
1241,Census Tract 196,2,NaN,46,5,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1242,Census Tract 196,2,Vista,1983,37,14,13,45,69,22,...,14,0,2,2,2,1,17,34,8,2
1243,Census Tract 196,3,NaN,208,8,0,1,5,5,4,...,0,0,0,0,0,0,1,6,1,0
1244,Census Tract 196,3,NaN,211,9,1,2,3,9,1,...,1,1,0,0,0,0,0,2,1,0
1245,Census Tract 196,3,Vista,1179,47,8,12,38,34,11,...,12,4,1,2,1,0,4,8,2,3
1246,Census Tract 196,9,Vista,3,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1247,Census Tract 197,1,Vista,1136,47,14,7,25,41,7,...,4,3,1,6,2,0,1,17,3,1
1248,Census Tract 197,2,NaN,160,8,1,5,12,2,1,...,2,1,0,0,1,0,1,6,1,0
1249,Census Tract 197,2,Vista,1372,43,13,8,52,69,22,...,4,5,1,4,1,0,8,18,6,1
1250,Census Tract 197,9,NaN,132,7,2,3,9,8,0,...,0,0,0,1,0,0,0,1,0,0
1251,Census Tract 197,9,Vista,82,2,0,0,4,5,1,...,0,0,0,0,0,0,3,3,0,0
1252,Census Tract 198,9,Carlsbad,568,31,8,7,27,36,6,...,4,1,0,0,0,0,0,6,0,1
1253,Census Tract 199,1,San Marcos,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1254,Census Tract 199,1,NaN,941,33,5,16,30,47,14,...,3,7,0,2,1,0,1,11,1,1
1255,Census Tract 199,1,Vista,28,0,0,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
1256,Census Tract 199,2,NaN,313,12,2,4,5,16,3,...,1,0,1,1,0,0,1,6,0,0
1257,Census Tract 199,2,NaN,394,23,5,4,20,30,5,...,2,3,1,0,0,0,1,10,0,0
1258,Census Tract 199,2,Vista,108,1,1,1,6,8,1,...,0,1,0,0,0,0,1,1,1,0
1259,Census Tract 199,3,NaN,271,5,1,0,9,16,2,...,3,3,0,0,0,0,1,3,0,0
1260,Census Tract 199,3,NaN,259,4,5,2,9,6,4,...,1,1,1,1,0,0,0,4,1,0
1261,Census Tract 199,9,NaN,444,14,2,3,21,19,3,...,0,1,1,1,0,0,0,5,3,0
1262,Census Tract 199,9,NaN,550,12,1,4,8,17,6,...,2,0,2,1,0,1,0,8,0,0
1263,Census Tract 199,9,Vista,6,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [51]:
population = pd.read_csv('SD1970_population.csv',thousands = ',')

#A duplicate dataframe
populationCopy = population

populationCopy = populationCopy.replace('...',np.nan)


"""
This function is designed specifically for the population dataset.

It takes in:
1. Name of the leftmost column you want to merge
2. Name of the rightmost column you want to merge
3. New name of the merged column.

It merges everything in place.

"""
def ageMerge(left_name, right_name, new_name):
    i = populationCopy.columns.get_loc(left_name)
    j = populationCopy.columns.get_loc(right_name) + 1
    populationCopy[left_name] = populationCopy.iloc[:,i:j].astype(float).sum(axis=1)
    populationCopy.rename(columns={left_name: new_name},inplace=True)
    populationCopy.drop(populationCopy.iloc[:, i+1:j], inplace = True, axis = 1)


ageMerge('Male persons age under 5 years','Male persons age 75 and over','Total Male Persons')
ageMerge('Female persons age under 5 years','Female persons age 75 and over','Total Female Persons')

ageMerge('Black male persons age under 5 years','Black male persons age 65 and over','Total Black Male Persons')
ageMerge('Black female persons age under 5 years','Black female persons age 65 and over','Total Black Female Persons')

ageMerge('Other nonwhite races male age under 5 years','Other nonwhite races male age 65 and over','Total Nonwhite Male Persons')
ageMerge('Other nonwhite races female age under 5 years','Other nonwhite races female age 65 and over','Total Nonwhite Female Persons')



populationCopy=populationCopy.drop(populationCopy.loc[:, 'Male persons now married (excludes separated)':'Family with female head members under 18 and 65 and over'].columns, axis = 1)

populationCopy

,Census Tract Name,Block Group,Place Name,Total persons,Total Male Persons,Total Female Persons,Total Black Male Persons,Total Black Female Persons,Total Nonwhite Male Persons,Total Nonwhite Female Persons,White persons,Black persons,Indian persons,Other specified race persons,"Reported ""other race"" persons"
0,Census Tract 1,1,San Diego,901,405.0,496.0,0.0,0.0,8.0,10.0,883,0,0,18,0
1,Census Tract 1,2,San Diego,683,300.0,383.0,0.0,0.0,4.0,4.0,673,2,0,8,0
2,Census Tract 1,3,San Diego,532,249.0,283.0,0.0,0.0,0.0,0.0,529,0,1,0,2
3,Census Tract 1,4,San Diego,421,197.0,224.0,0.0,0.0,4.0,2.0,415,0,4,2,0
4,Census Tract 1,5,San Diego,489,212.0,277.0,0.0,0.0,0.0,0.0,483,3,0,1,2
5,Census Tract 1,6,San Diego,498,216.0,282.0,0.0,0.0,0.0,0.0,496,2,0,0,0
6,Census Tract 1,9,San Diego,6,3.0,3.0,0.0,0.0,0.0,0.0,6,0,0,0,0
7,Census Tract 2,1,San Diego,1082,491.0,591.0,0.0,0.0,3.0,2.0,"1,077",0,1,4,0
8,Census Tract 2,2,San Diego,2151,998.0,1153.0,0.0,0.0,10.0,8.0,"2,132",1,5,5,8
9,Census Tract 2,3,San Diego,1348,682.0,666.0,0.0,0.0,9.0,10.0,"1,328",1,5,11,3
10,Census Tract 2,4,San Diego,960,462.0,498.0,3.0,2.0,4.0,3.0,948,5,2,3,2
11,Census Tract 2,5,San Diego,434,191.0,243.0,0.0,0.0,5.0,7.0,422,0,0,10,2
12,Census Tract 2,8,San Diego,2,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
13,Census Tract 2,9,San Diego,5,3.0,2.0,0.0,0.0,0.0,0.0,5,0,0,0,0
14,Census Tract 3,1,San Diego,885,365.0,520.0,6.0,3.0,4.0,6.0,866,9,0,5,5
15,Census Tract 3,2,San Diego,362,145.0,217.0,7.0,3.0,5.0,3.0,344,10,0,8,0
16,Census Tract 3,3,San Diego,826,334.0,492.0,0.0,0.0,4.0,10.0,809,3,7,1,6
17,Census Tract 3,4,San Diego,1618,668.0,950.0,0.0,0.0,14.0,17.0,"1,584",3,4,25,2
18,Census Tract 4,1,San Diego,2145,917.0,1228.0,10.0,17.0,40.0,52.0,"2,026",27,10,62,20
19,Census Tract 4,2,San Diego,826,397.0,429.0,1.0,4.0,11.0,16.0,794,5,0,22,5
20,Census Tract 4,4,San Diego,1,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
21,Census Tract 4,5,San Diego,1,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
22,Census Tract 5,1,San Diego,852,396.0,456.0,6.0,2.0,8.0,12.0,824,8,1,7,12
23,Census Tract 5,2,San Diego,1143,519.0,624.0,0.0,0.0,11.0,16.0,"1,114",2,9,18,0
24,Census Tract 5,3,San Diego,695,304.0,391.0,0.0,0.0,6.0,7.0,682,0,5,8,0
25,Census Tract 6,1,San Diego,852,373.0,479.0,5.0,0.0,10.0,6.0,831,5,5,7,4
26,Census Tract 6,2,San Diego,758,336.0,422.0,0.0,0.0,11.0,9.0,736,2,2,10,8
27,Census Tract 6,3,San Diego,756,335.0,421.0,0.0,0.0,14.0,19.0,723,0,2,29,2
28,Census Tract 6,6,San Diego,5,3.0,2.0,0.0,0.0,0.0,0.0,4,0,1,0,0
29,Census Tract 7,1,San Diego,1052,439.0,613.0,4.0,2.0,21.0,22.0,"1,003",6,7,23,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1234,Census Tract 194,9,Vista,698,355.0,343.0,0.0,0.0,5.0,4.0,685,4,3,6,0
1235,Census Tract 195,1,Vista,1773,819.0,954.0,0.0,0.0,82.0,83.0,"1,606",2,82,47,36
1236,Census Tract 195,2,Vista,90,43.0,47.0,0.0,0.0,0.0,0.0,90,0,0,0,0
1237,Census Tract 195,3,Vista,750,352.0,398.0,0.0,0.0,5.0,10.0,735,0,10,2,3
1238,Census Tract 195,4,Vista,2175,1025.0,1150.0,2.0,5.0,21.0,24.0,"2,123",7,11,14,20
1239,Census Tract 195,5,Vista,1,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
1240,Census Tract 196,1,Vista,1332,594.0,738.0,0.0,0.0,2.0,4.0,"1,326",0,1,5,0
1241,Census Tract 196,2,NaN,46,24.0,22.0,0.0,0.0,0.0,0.0,46,0,0,0,0
1242,Census Tract 196,2,Vista,1983,923.0,1060.0,0.0,0.0,14.0,15.0,"1,954",0,4,14,11
1243,Census Tract 196,3,NaN,208,89.0,119.0,0.0,0.0,0.0,0.0,207,0,0,1,0
1244,Census Tract 196,3,NaN,211,104.0,107.0,0.0,0.0,0.0,0.0,211,0,0,0,0
1245,Census Tract 196,3,Vista,1179,586.0,593.0,0.0,0.0,3.0,4.0,"1,172",0,2,4,1
1246,Census Tract 196,9,Vista,3,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
1247,Census Tract 197,1,Vista,1136,561.0,575.0,0.0,0.0,7.0,11.0,"1,117",1,3,14,1
1248,Census Tract 197,2,NaN,160,75.0,85.0,0.0,0.0,0.0,0.0,157,0,0,3,0
1249,Census Tract 197,2,Vista,1372,672.0,700.0,0.0,0.0,16.0,14.0,"1,342",0,2,27,1
1250,Census Tract 197,9,NaN,132,67.0,65.0,0.0,0.0,2.0,4.0,126,0,5,1,0
1251,Census Tract 197,9,Vista,82,38.0,44.0,0.0,0.0,0.0,0.0,78,0,4,0,0
1252,Census Tract 198,9,Carlsbad,568,284.0,284.0,0.0,0.0,7.0,4.0,557,0,1,10,0
1253,Census Tract 199,1,San Marcos,0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0
1254,Census Tract 199,1,NaN,941,462.0,479.0,0.0,0.0,23.0,29.0,887,2,16,34,2
1255,Census Tract 199,1,Vista,28,15.0,13.0,0.0,0.0,0.0,0.0,28,0,0,0,0
1256,Census Tract 199,2,NaN,313,154.0,159.0,0.0,0.0,6.0,7.0,300,0,9,1,3
1257,Census Tract 199,2,NaN,394,211.0,183.0,0.0,0.0,10.0,9.0,375,0,12,2,5
1258,Census Tract 199,2,Vista,108,54.0,54.0,0.0,0.0,0.0,0.0,108,0,0,0,0
1259,Census Tract 199,3,NaN,271,128.0,143.0,0.0,0.0,4.0,3.0,264,0,0,0,7
1260,Census Tract 199,3,NaN,259,127.0,132.0,0.0,0.0,2.0,4.0,253,0,1,5,0
1261,Census Tract 199,9,NaN,444,233.0,211.0,0.0,0.0,0.0,0.0,439,2,0,3,0
1262,Census Tract 199,9,NaN,550,270.0,280.0,0.0,0.0,5.0,9.0,535,1,0,11,3
1263,Census Tract 199,9,Vista,6,3.0,3.0,0.0,0.0,0.0,0.0,6,0,0,0,0