In [131]:
import numpy as np
import pandas as pd 
from datascience import *

%matplotlib inline
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')


housing = pd.read_csv('SD1970_housing.csv', thousands = ',')
population = pd.read_csv('SD1970_population.csv',thousands = ',')

population

,Census Tract Name,Block Group,Place Name,Total persons,Male persons age under 5 years,Male persons age 5 years,Male persons age 6 years,Male persons age 7-9 years,Male persons age 10-13 years,Male persons age 14 years,...,"Husband-wife family members 65 and over, none under 18",Husband-wife family members under 18 and 65 and over,Other family with male head no members under 18 or 65 and over,"Other family with male head members under 18, none 65 and over","Other family with male head members 65 and over, none under 18",Other family with male head members under 18 and 65 and over,Family with female head no members under 18 or 65 and over,"Family with female head members under 18, none 65 and over","Family with female head members 65 and over, none under 18",Family with female head members under 18 and 65 and over
0,Census Tract 1,1,San Diego,901,31,6,9,29,32,9,...,2,3,2,0,3,0,6,15,5,1
1,Census Tract 1,2,San Diego,683,28,2,9,14,21,6,...,3,5,0,1,1,1,6,17,6,0
2,Census Tract 1,3,San Diego,532,18,4,4,15,26,6,...,2,2,1,1,0,1,5,5,2,0
3,Census Tract 1,4,San Diego,421,9,3,5,5,7,3,...,0,1,0,1,0,0,5,4,2,0
4,Census Tract 1,5,San Diego,489,12,2,4,6,13,4,...,4,1,1,1,0,0,6,6,3,0
5,Census Tract 1,6,San Diego,498,19,2,3,11,11,7,...,5,4,0,0,0,0,4,5,3,1
6,Census Tract 1,9,San Diego,6,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,Census Tract 2,1,San Diego,1082,32,10,5,21,34,8,...,0,0,2,1,1,0,14,18,8,0
8,Census Tract 2,2,San Diego,2151,83,18,14,42,52,11,...,5,3,5,7,3,1,21,45,7,3
9,Census Tract 2,3,San Diego,1348,39,2,8,23,37,7,...,1,2,2,3,0,0,13,25,5,0
10,Census Tract 2,4,San Diego,960,31,6,2,12,18,1,...,1,1,4,4,0,0,11,24,6,1
11,Census Tract 2,5,San Diego,434,13,3,0,5,9,1,...,2,0,3,3,2,0,9,5,10,0
12,Census Tract 2,8,San Diego,2,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13,Census Tract 2,9,San Diego,5,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
14,Census Tract 3,1,San Diego,885,13,1,5,9,8,5,...,0,0,2,2,1,0,17,16,4,0
15,Census Tract 3,2,San Diego,362,1,0,0,1,3,0,...,0,0,2,1,0,0,1,5,3,0
16,Census Tract 3,3,San Diego,826,11,1,3,4,8,0,...,1,3,5,1,2,0,6,10,7,0
17,Census Tract 3,4,San Diego,1618,38,6,5,18,14,11,...,2,0,4,2,5,0,16,43,15,2
18,Census Tract 4,1,San Diego,2145,50,8,6,18,15,3,...,4,2,11,4,1,0,21,25,13,0
19,Census Tract 4,2,San Diego,826,5,1,2,2,10,2,...,1,1,1,1,3,0,8,14,5,0
20,Census Tract 4,4,San Diego,1,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21,Census Tract 4,5,San Diego,1,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22,Census Tract 5,1,San Diego,852,17,3,7,11,20,3,...,6,3,2,0,2,0,6,12,6,0
23,Census Tract 5,2,San Diego,1143,43,4,5,19,19,8,...,3,1,3,4,6,0,12,27,5,0
24,Census Tract 5,3,San Diego,695,19,6,0,5,12,5,...,1,2,3,3,4,0,6,18,2,0
25,Census Tract 6,1,San Diego,852,27,4,3,17,18,1,...,1,0,1,2,1,0,3,42,5,1
26,Census Tract 6,2,San Diego,758,17,4,2,9,12,1,...,4,0,1,3,1,0,9,14,4,0
27,Census Tract 6,3,San Diego,756,23,4,3,12,11,3,...,2,2,5,2,3,0,9,17,6,1
28,Census Tract 6,6,San Diego,5,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29,Census Tract 7,1,San Diego,1052,23,2,2,10,5,2,...,4,0,2,3,6,0,7,16,4,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1234,Census Tract 194,9,Vista,698,31,10,11,24,30,20,...,3,4,0,0,1,0,2,11,0,0
1235,Census Tract 195,1,Vista,1773,114,22,18,36,49,12,...,6,3,3,7,6,0,9,52,6,1
1236,Census Tract 195,2,Vista,90,5,0,1,2,2,0,...,0,0,1,0,0,0,1,0,1,0
1237,Census Tract 195,3,Vista,750,21,9,1,20,18,3,...,4,1,2,2,0,1,6,13,2,0
1238,Census Tract 195,4,Vista,2175,128,13,20,60,59,14,...,7,2,2,4,2,0,8,43,6,0
1239,Census Tract 195,5,Vista,1,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1240,Census Tract 196,1,Vista,1332,21,4,7,17,31,10,...,5,3,1,1,2,0,8,7,9,0
1241,Census Tract 196,2,NaN,46,5,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1242,Census Tract 196,2,Vista,1983,37,14,13,45,69,22,...,14,0,2,2,2,1,17,34,8,2
1243,Census Tract 196,3,NaN,208,8,0,1,5,5,4,...,0,0,0,0,0,0,1,6,1,0
1244,Census Tract 196,3,NaN,211,9,1,2,3,9,1,...,1,1,0,0,0,0,0,2,1,0
1245,Census Tract 196,3,Vista,1179,47,8,12,38,34,11,...,12,4,1,2,1,0,4,8,2,3
1246,Census Tract 196,9,Vista,3,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1247,Census Tract 197,1,Vista,1136,47,14,7,25,41,7,...,4,3,1,6,2,0,1,17,3,1
1248,Census Tract 197,2,NaN,160,8,1,5,12,2,1,...,2,1,0,0,1,0,1,6,1,0
1249,Census Tract 197,2,Vista,1372,43,13,8,52,69,22,...,4,5,1,4,1,0,8,18,6,1
1250,Census Tract 197,9,NaN,132,7,2,3,9,8,0,...,0,0,0,1,0,0,0,1,0,0
1251,Census Tract 197,9,Vista,82,2,0,0,4,5,1,...,0,0,0,0,0,0,3,3,0,0
1252,Census Tract 198,9,Carlsbad,568,31,8,7,27,36,6,...,4,1,0,0,0,0,0,6,0,1
1253,Census Tract 199,1,San Marcos,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1254,Census Tract 199,1,NaN,941,33,5,16,30,47,14,...,3,7,0,2,1,0,1,11,1,1
1255,Census Tract 199,1,Vista,28,0,0,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
1256,Census Tract 199,2,NaN,313,12,2,4,5,16,3,...,1,0,1,1,0,0,1,6,0,0
1257,Census Tract 199,2,NaN,394,23,5,4,20,30,5,...,2,3,1,0,0,0,1,10,0,0
1258,Census Tract 199,2,Vista,108,1,1,1,6,8,1,...,0,1,0,0,0,0,1,1,1,0
1259,Census Tract 199,3,NaN,271,5,1,0,9,16,2,...,3,3,0,0,0,0,1,3,0,0
1260,Census Tract 199,3,NaN,259,4,5,2,9,6,4,...,1,1,1,1,0,0,0,4,1,0
1261,Census Tract 199,9,NaN,444,14,2,3,21,19,3,...,0,1,1,1,0,0,0,5,3,0
1262,Census Tract 199,9,NaN,550,12,1,4,8,17,6,...,2,0,2,1,0,1,0,8,0,0
1263,Census Tract 199,9,Vista,6,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [132]:
population = population.replace('...',np.NaN)
columns = ['Male persons age under 5 years','Male persons age 5 years','Male persons age 6 years','Male persons age 7-9 years','Male persons age 10-13 years','Male persons age 14 years','Male persons age 15 years','Male persons age 16 years','Male persons age 17 years','Male persons age 18 years','Male persons age 19 years','Male persons age 20 years','Male persons age 21 years','Male persons age 22-24 years']
for i in columns:
    population[i] = pd.to_numeric(population[i])
population['Male persons age 5-24'] = population['Male persons age 5 years']+population['Male persons age 6 years']+population['Male persons age 7-9 years']+population['Male persons age 10-13 years']+population['Male persons age 14 years']+population['Male persons age 15 years']+population['Male persons age 16 years']+population['Male persons age 17 years']+population['Male persons age 18 years']+population['Male persons age 19 years']+population['Male persons age 20 years']+population['Male persons age 21 years']+population['Male persons age 22-24 years']
population = population.drop(columns=['Male persons age 5 years','Male persons age 6 years','Male persons age 7-9 years','Male persons age 10-13 years','Male persons age 14 years','Male persons age 15 years','Male persons age 16 years','Male persons age 17 years','Male persons age 18 years','Male persons age 19 years','Male persons age 20 years','Male persons age 21 years','Male persons age 22-24 years'])
population

,Census Tract Name,Block Group,Place Name,Total persons,Male persons age under 5 years,Male persons age 25-34 years,Male persons age 35-44 years,Male persons age 45-54 years,Male persons age 55-59 years,Male persons age 60-61 years,...,Husband-wife family members under 18 and 65 and over,Other family with male head no members under 18 or 65 and over,"Other family with male head members under 18, none 65 and over","Other family with male head members 65 and over, none under 18",Other family with male head members under 18 and 65 and over,Family with female head no members under 18 or 65 and over,"Family with female head members under 18, none 65 and over","Family with female head members 65 and over, none under 18",Family with female head members under 18 and 65 and over,Male persons age 5-24
0,Census Tract 1,1,San Diego,901,31.0,42,45,50,20,6,...,3,2,0,3,0,6,15,5,1,147.0
1,Census Tract 1,2,San Diego,683,28.0,27,32,32,21,3,...,5,0,1,1,1,6,17,6,0,104.0
2,Census Tract 1,3,San Diego,532,18.0,19,28,38,13,9,...,2,1,1,0,1,5,5,2,0,88.0
3,Census Tract 1,4,San Diego,421,9.0,21,12,35,14,7,...,1,0,1,0,0,5,4,2,0,53.0
4,Census Tract 1,5,San Diego,489,12.0,19,32,32,17,7,...,1,1,1,0,0,6,6,3,0,55.0
5,Census Tract 1,6,San Diego,498,19.0,10,25,30,19,7,...,4,0,0,0,0,4,5,3,1,64.0
6,Census Tract 1,9,San Diego,6,0.0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0.0
7,Census Tract 2,1,San Diego,1082,32.0,70,72,43,38,12,...,0,2,1,1,0,14,18,8,0,147.0
8,Census Tract 2,2,San Diego,2151,83.0,174,99,105,46,23,...,3,5,7,3,1,21,45,7,3,332.0
9,Census Tract 2,3,San Diego,1348,39.0,134,66,74,32,10,...,2,2,3,0,0,13,25,5,0,252.0
10,Census Tract 2,4,San Diego,960,31.0,108,45,51,26,9,...,1,4,4,0,0,11,24,6,1,134.0
11,Census Tract 2,5,San Diego,434,13.0,27,15,22,13,5,...,0,3,3,2,0,9,5,10,0,53.0
12,Census Tract 2,8,San Diego,2,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Census Tract 2,9,San Diego,5,0.0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,2.0
14,Census Tract 3,1,San Diego,885,13.0,67,35,42,31,10,...,0,2,2,1,0,17,16,4,0,99.0
15,Census Tract 3,2,San Diego,362,1.0,33,12,18,10,2,...,0,2,1,0,0,1,5,3,0,36.0
16,Census Tract 3,3,San Diego,826,11.0,40,24,39,31,12,...,3,5,1,2,0,6,10,7,0,73.0
17,Census Tract 3,4,San Diego,1618,38.0,96,72,94,44,14,...,0,4,2,5,0,16,43,15,2,171.0
18,Census Tract 4,1,San Diego,2145,50.0,206,101,107,62,27,...,2,11,4,1,0,21,25,13,0,224.0
19,Census Tract 4,2,San Diego,826,5.0,65,36,62,24,12,...,1,1,1,3,0,8,14,5,0,123.0
20,Census Tract 4,4,San Diego,1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,Census Tract 4,5,San Diego,1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Census Tract 5,1,San Diego,852,17.0,45,44,49,35,10,...,3,2,0,2,0,6,12,6,0,107.0
23,Census Tract 5,2,San Diego,1143,43.0,82,43,53,21,9,...,1,3,4,6,0,12,27,5,0,174.0
24,Census Tract 5,3,San Diego,695,19.0,41,27,29,19,6,...,2,3,3,4,0,6,18,2,0,93.0
25,Census Tract 6,1,San Diego,852,27.0,58,28,36,15,7,...,0,1,2,1,0,3,42,5,1,141.0
26,Census Tract 6,2,San Diego,758,17.0,48,38,40,20,7,...,0,1,3,1,0,9,14,4,0,107.0
27,Census Tract 6,3,San Diego,756,23.0,51,36,33,24,5,...,2,5,2,3,0,9,17,6,1,107.0
28,Census Tract 6,6,San Diego,5,0.0,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0.0
29,Census Tract 7,1,San Diego,1052,23.0,63,37,36,33,12,...,0,2,3,6,0,7,16,4,0,125.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1234,Census Tract 194,9,Vista,698,31.0,44,37,38,17,4,...,4,0,0,1,0,2,11,0,0,140.0
1235,Census Tract 195,1,Vista,1773,114.0,101,50,77,29,9,...,3,3,7,6,0,9,52,6,1,293.0
1236,Census Tract 195,2,Vista,90,5.0,6,3,2,1,1,...,0,1,0,0,0,1,0,1,0,16.0
1237,Census Tract 195,3,Vista,750,21.0,31,31,43,16,11,...,1,2,2,0,1,6,13,2,0,107.0
1238,Census Tract 195,4,Vista,2175,128.0,100,81,74,29,20,...,2,2,4,2,0,8,43,6,0,315.0
1239,Census Tract 195,5,Vista,1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1240,Census Tract 196,1,Vista,1332,21.0,38,50,62,46,16,...,3,1,1,2,0,8,7,9,0,125.0
1241,Census Tract 196,2,NaN,46,5.0,3,2,3,2,0,...,0,0,0,0,0,0,0,0,0,3.0
1242,Census Tract 196,2,Vista,1983,37.0,70,89,147,57,14,...,0,2,2,2,1,17,34,8,2,297.0
1243,Census Tract 196,3,NaN,208,8.0,5,9,13,4,3,...,0,0,0,0,0,1,6,1,0,31.0
1244,Census Tract 196,3,NaN,211,9.0,9,12,10,3,1,...,1,0,0,0,0,0,2,1,0,37.0
1245,Census Tract 196,3,Vista,1179,47.0,57,50,60,29,14,...,4,1,2,1,0,4,8,2,3,208.0
1246,Census Tract 196,9,Vista,3,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1247,Census Tract 197,1,Vista,1136,47.0,65,56,53,33,11,...,3,1,6,2,0,1,17,3,1,185.0
1248,Census Tract 197,2,NaN,160,8.0,7,12,7,4,2,...,1,0,0,1,0,1,6,1,0,30.0
1249,Census Tract 197,2,Vista,1372,43.0,57,82,79,39,10,...,5,1,4,1,0,8,18,6,1,263.0
1250,Census Tract 197,9,NaN,132,7.0,6,10,3,4,2,...,0,0,1,0,0,0,1,0,0,31.0
1251,Census Tract 197,9,Vista,82,2.0,3,5,5,1,1,...,0,0,0,0,0,3,3,0,0,15.0
1252,Census Tract 198,9,Carlsbad,568,31.0,33,53,32,4,1,...,1,0,0,0,0,0,6,0,1,126.0
1253,Census Tract 199,1,San Marcos,0,0.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
1254,Census Tract 199,1,NaN,941,33.0,38,45,63,30,5,...,7,0,2,1,0,1,11,1,1,177.0
1255,Census Tract 199,1,Vista,28,0.0,0,2,2,1,1,...,0,0,0,0,0,0,0,0,0,5.0
1256,Census Tract 199,2,NaN,313,12.0,19,16,17,5,2,...,0,1,1,0,0,1,6,0,0,62.0
1257,Census Tract 199,2,NaN,394,23.0,20,27,19,5,4,...,3,1,0,0,0,1,10,0,0,94.0
1258,Census Tract 199,2,Vista,108,1.0,4,8,7,2,0,...,1,0,0,0,0,1,1,1,0,23.0
1259,Census Tract 199,3,NaN,271,5.0,6,16,12,11,4,...,3,0,0,0,0,1,3,0,0,41.0
1260,Census Tract 199,3,NaN,259,4.0,14,13,21,8,2,...,1,1,1,0,0,0,4,1,0,49.0
1261,Census Tract 199,9,NaN,444,14.0,18,40,31,16,3,...,1,1,1,0,0,0,5,3,0,72.0
1262,Census Tract 199,9,NaN,550,12.0,22,18,42,17,9,...,0,2,1,0,1,0,8,0,0,72.0
1263,Census Tract 199,9,Vista,6,0.0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0.0